{% include 'header.html' %}
{%- if error -%}
<div class="alert alert-error">
<ul class="errorlist">
{% for err in error %}
<li>{{ err }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<form method="POST" action="" class="form-horizontal">
<fieldset>
    <legend>{{ _('Add Node') }}</legend>
    {{ page.xsrf_form_html() }}
    <input type="hidden" name="nid" value="{% if node %}{{ node.id }}{% endif %}" />
    <div class="sep30"></div>
    <div class="control-group">
        <label class="control-label" for="probtitle">{{ _('Title') }}</label>
        <div class="controls">
            <input name="name" class="input-xlarge" type="text" {% if node.name %}value="{{ node.name }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="shortname">{{ _('Link') }}</label>
        <div class="controls">
            <input name="link" class="input-xlarge" type="text" {% if node.link %}value="{{ node.link }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="timelimit">{{ _('Description') }}</label>
        <div class="controls">
            <div class="input-append">
                <textarea name="description" class="input-xlarge">{% if node.description %}{{ node.description }}{% endif %}</textarea>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
    </div>
</form>
{% include 'footer.html' %}
