{% include 'header.html' %}
{%- if error -%}
<div class="alert alert-error">
<ul class="errorlist">
{% for err in error %}
<li>{{ err }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<form method="POST" action="" class="form-horizontal">
<fieldset>
    <legend>{{ _('Add Problem') }}</legend>
    {{ page.xsrf_form_html() }}
    <input type="hidden" name="pid" value="{% if problem %}{{ problem.id }}{% endif %}" />
    <div class="sep30"></div>
    <div class="control-group">
        <label class="control-label" for="probtitle">{{ _('Title') }}</label>
        <div class="controls">
            <input name="probtitle" class="input-xlarge" type="text" {% if problem.title %}value="{{ problem.title }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="shortname">{{ _('Short Name') }}</label>
        <div class="controls">
            <input name="shortname" class="input-xlarge" type="text" {% if problem.shortname %}value="{{ problem.shortname }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="timelimit">{{ _('Time Limit') }}</label>
        <div class="controls">
            <div class="input-append">
                <input name="timelimit" class="span1" type="text" {% if problem.timelimit %}value="{{ problem.timelimit }}" {% else %}value="1000" {% endif %}/>
                <span class="add-on">ms</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="memlimit">{{ _('Memory Limit') }}</label>
        <div class="controls">
            <div class="input-append">
                <input name="memlimit" class="span1" type="text" {% if problem.memlimit %}value="{{ problem.memlimit }}" {% else %}value="128" {% endif %}/>
                <span class="add-on">MB</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="testpoint">{{ _('Test Point') }}</label>
        <div class="controls">
            <input name="testpoint" class="span1" type="text" {% if problem.testpoint %}value="{{ problem.testpoint }}"{% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="invisible"></label>
        <div class="controls">
            <label class="checkbox"><input type="checkbox" name="invisible" value="1" {% if problem.invisible %}checked{% endif %}>Invisible</label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="content">{{ _('Content') }}</label>
        <div class="controls">
            <textarea name="content" class="input-xlarge" style="width:522px; height: 427px">{% if problem.content %}{{ problem.content }}{% endif %}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="problem_tag">{{ _('Problem Tag') }}</label>
        <div class="controls">
            <input type="text" name="problem_tag"  class="input-xlarge" id="problem_tag" />
            <a href="#" class="btn" id="problem_tag_submit">{{ _('Add') }}</a>
            <ul id="problem_tag_list">
                {% if tags %}
                {% for tag in tags %}
                <li class="tag">
                    <a href="/tag/{{ tag }}" target="_blank" style="float:left">{{ tag }}</a>
                    <a class="close" href="#" value="{{ tag }}" data-dismiss="alert"><i class="icon-remove-sign"></i></a>
                </li>
                {% endfor%}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
    </div>
{% if tags %}
{% for tag in tags %}
    <input type="hidden" name="tags[]" value="{{ tag }}" id="tag_{{ tag }}" />
{% endfor %}
{% endif %}
</form>
{% include 'footer.html' %}
