{% include 'header.html' %}
{%- if error -%}
<div class="alert alert-error">
<ul class="errorlist">
{% for err in error %}
<li>{{ err }}</li>
{% endfor %}
</ul>
</div>
{% endif %}
<form method="POST" action="" class="form-horizontal">
<fieldset>
    <legend>{{ _('Add Problem') }}</legend>
    {{ page.xsrf_form_html() }}
    <input type="hidden" name="pid" value="{% if problem %}{{ problem.id }}{% endif %}" />
    <div class="sep30"></div>
    <div class="control-group">
        <label class="control-label" for="probtitle">{{ _('Title') }}</label>
        <div class="controls">
            <input name="probtitle" class="input-xlarge" type="text" {% if problem.title %}value="{{ problem.title }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="shortname">{{ _('Short Name') }}</label>
        <div class="controls">
            <input name="shortname" class="input-xlarge" type="text" {% if problem.shortname %}value="{{ problem.shortname }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="timelimit">{{ _('Time Limit') }}</label>
        <div class="controls">
            <div class="input-append">
                <input name="timelimit" class="span1" type="text" {% if problem.timelimit %}value="{{ problem.timelimit }}" {% else %}value="1000" {% endif %}/>
                <span class="add-on">ms</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="memlimit">{{ _('Memory Limit') }}</label>
        <div class="controls">
            <div class="input-append">
                <input name="memlimit" class="span1" type="text" {% if problem.memlimit %}value="{{ problem.memlimit }}" {% else %}value="128" {% endif %}/>
                <span class="add-on">MB</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="testpoint">{{ _('Test Point') }}</label>
        <div class="controls">
            <input name="testpoint" class="span1" type="text" {% if problem.testpoint %}value="{{ problem.testpoint }}"{% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="invisible"></label>
        <div class="controls">
            <label class="checkbox"><input type="checkbox" name="invisible" value="1" {% if problem.invisible %}checked{% endif %}>Invisible</label>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="content">{{ _('Content') }}</label>
        <div class="controls">
            <textarea name="content" class="input-xlarge" style="width:522px; height: 427px">{% if problem.content %}{{ problem.content }}{% endif %}</textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="problem_tag">{{ _('Problem Tag') }}</label>
        <div class="controls">
            <input type="text" name="problem_tag"  class="input-xlarge" id="problem_tag" />
            <a href="#" class="btn" id="problem_tag_submit">{{ _('Add') }}</a>
            <ul id="problem_tag_list">
                {% if tags %}
                {% for tag in tags %}
                <li class="tag">
                    <a href="/tag/{{ tag }}" target="_blank" style="float:left">{{ tag }}</a>
                    <a class="close" data-dismiss="alert" value="{{ tag }}" href="#"><i class="icon-remove-sign"></i></a>
                </li>
                {% endfor%}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
    </div>
</fieldset>
{% if tags %}
{% for tag in tags %}
    <input id="tag_{{ tag }}" type="hidden" name="tags[]" value="{{ tag }}" />
{% endfor %}
{% endif %}
</form>
<script type="text/javascript">
$(document).ready(function() {
    var tag_list = new Array(); 
    $.each($('input[name="tags[]"]'), function(i, v) {
        tag_list.push(v.value); 
    }); 
    function add_problem_tag() {
        var val = $("#problem_tag").val(); 
        if($.inArray(val, tag_list) != -1 || !val.length ) {
            return false; 
        }
        $('#problem_tag_list').append('<li class="tag"><a href="/tag/' + val + '" target="_blank">' + val + '</a><a class="close" data-dismiss="alert" value="' + val + '" href="#"><i class="icon-remove-sign"></i></a></li>'); 
        $('form.form-horizontal').append('<input id="tag_' + val + '" type="hidden" name="tags[]" value="' + val + '" />'); 
        tag_list.push(val); 
        $('#problem_tag').val(''); 
        $('.tag .close').click(function () {
            var tagname = $(this).attr('value');
            var index = tag_list.indexOf(tagname); 
            tag_list.splice(index, 1); 
            $('#tag_' + tagname).remove(); 
        }); 
    }
    $('.disabled').click(function() {
        return false; 
    }); 
    $('#problem_tag').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code == 13) {
            add_problem_tag(); 
            return false; 
        }
    }); 
    $("#problem_tag_submit").click(function () {
        add_problem_tag(); 
        return false; 
    }); 
    $('.tag .close').click(function () {
        var tagname = $(this).attr('value');
        var index = tag_list.indexOf(tagname); 
        tag_list.splice(index, 1); 
        $('#tag_' + tagname).remove(); 
    }); 
}); 
</script>
{% include 'footer.html' %}
