body {
    background-image: url(/static/img/bg-noise.jpg); 
}

body.logined {
    margin-left: 260px; 
    margin-bottom: 30px; 
}

.logined form {
    background-color: white; 
    border: 2px solid #EEE; 
    padding-top: 20px; 
    border-radius: 4px;
}

form .form-actions {
    margin-bottom: 0px; 
}

form fieldset legend {
    padding-left: 20px; 
    margin-bottom: 0px; 
}

form.clean {
    background: none; 
    border: none; 
    padding: 0; 
    border-radius: 0px; 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

input, .btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

nav {
    color: white; 
    background-color: #2B2B2B; 
    background-image: url(/static/img/lines.jpg); 
    width: 240px; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    overflow: hidden; 
    z-index: 5; 
    border-right: solid 1px black; 
}

nav a {
    color: #FFF; 
}

nav .nav-list > li > a {
    color: #FFF; 
    text-shadow: 0px 1px 1px black;
    -webkit-transition-property: background; 
    -webkit-transition-duration: .2s;
}

nav .nav-list > li > a:hover {
    background: rgba(0, 0, 0, 0.2); 
    color: white; 
    text-shadow: 0px 1px 1px black;
}

nav .profile {
    height: 76px; 
    border-bottom: 1px solid #4A4A54;
}

nav .profile .profile_wrap {
    height: 75px; 
    border-bottom: 1px solid #1D1E21;
}

nav .profile .username {
    position: absolute; 
    top: 20px; 
    left: 70px;
    font-family: Arial, sans-serif;
    font-size: 14px; 
    text-shadow: black 0px 1px 1px;
}

nav .profile .username a:hover {
    color: white; 
}

nav .profile .tagline {
    position: absolute; 
    top: 40px; 
    left: 70px; 
    width: 140px; 
    overflow: hidden;  
    text-overflow: ellipsis;
    white-space: nowrap;
}

nav .profile .avatar {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    -ms-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    -o-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 15px;
    left: 14px;
    cursor: pointer;
    overflow: hidden;
    border-image: initial;
}

nav .profile .avatar .avatar_mask {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 9px #000000;
    -moz-box-shadow: inset 0px 0px 9px #000000;
    -ms-box-shadow: inset 0px 0px 9px #000000;
    -o-box-shadow: inset 0px 0px 9px #000000;
    box-shadow: inset 0px 0px 9px #000000;
    opacity: 0.5;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}

nav .profile img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 45px;
    height: 45px;
}

nav .nav {
    margin-top: 20px; 
}

nav .sep {
    margin-top: 20px; 
    height: 0px; 
    border-bottom: 1px solid #4A4A54;
    border-top: 1px solid #1D1E21;
}

nav .copyright {
    font-size: 10px; 
    text-shadow: black 0px 1px 1px;
    padding-top: 20px; 
    padding-left: 14px; 
}

nav .copyright a:hover {
    color: white; 
}

.sep30 {
    height: 30px; 
}

.cell {
    min-height: 100px;
    background: white;
    border: 2px solid #EEE; 
    box-shadow: 0px 0px 2px #BBB; 
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 10px 15px;
}

.nopadding {
    padding: 0; 
}

.navBorder {
    background-color: #2F2F31;
    opacity: .2; 
    position: fixed; 
    width: 165px; 
    top: 0; 
    left: 0; 
    height: 100%; 
    z-index: 4; 
}

.toper {
    width: 250px; 
    margin: 0 auto; 
}

.toper #logo {
    margin-top: 200px; 
    margin-bottom: 20px; 
    padding-left: 40px; 
    width: 260px; 
}

.toper #logo .logo {
    font-size: 50px; 
    font-family: 'Port Lligat Slab', serif;
}

.toper #logo .subtitle {
    position: relative; 
    left: 80px; 
    top: -5px; 
    font-size: 10px; 
}

.signinform {
    width: 260px; 
}

.signinform label {
    color: #999; 
    text-shadow: 0 1px 1px #111; 
    font-size: 17px; 
}

.signinform .btn {
    width: 246px; 
    height: 34px; 
}

.signinform a.btn {
    width: 226px; 
    height: 26px; 
    line-height: 26px; 
}

.signinform .add-on, .signinform input {
    height: 28px; 
    line-height: 28px; 
}

.signinform .input-prepend > input, .signinform .input-prepend > .btn {
    float: left; 
}

.signinform .alert {
    width: 196px; 
}

.alert ul {
    margin-left: 14px; 
    margin-bottom: 0; 
}

.sep10 {
    height: 5px; 
    background-color: white; 
    opacity: .5; 
}

.main {
    padding-top: 40px; 
    padding-right: 20px; 
    width: 96%; 
}

.table tbody tr td, .table thead tr th {
    background-color: #FFF; 
}

.note_action {
    display: inline; 
    float: right; 
    width: 30%; 
}

.notes li , .note{
    margin-bottom: 30px;
    width: 60%;
}

.notes li .datetime {
    color: #999; 
    font-size: 10px; 
}

.notes li .summary {
    margin-top: 10px; 
    padding-left: 10px; 
}

.notes li .more {
    margin-top: 15px; 
    text-align: right; 
}

.note_notice {
    width: 60%;
}

.note {
    margin-left: 0; 
}

.note .meta {
    color: #999; 
    font-size: 10px; 
    margin-bottom: 10px; 
}

.note .content {
    padding-left: 10px; 
}

.sidebar {
    display: inline; 
    width: 30%; 
    float: right; 
}

.cell .module_title {
    padding-top: 10px; 
    padding-left: 13px; 
    padding-bottom: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    border-bottom: 1px solid #DDD; 
}

.problem {
    width: 65%; 
    margin-bottom: 30px; 
}

.cell.problem .line {
    padding-left: 20px; 
    padding-bottom: 10px; 
}

.cell.problem pre {
    min-height: 50px; 
}

.cell.problem .line:last-child {
    border-bottom: none; 
}

.cell .line {
    font-size: 14px; 
    line-height: 24px; 
    padding-left: 20px; 
    padding-right: 10px; 
    padding-top: 10px;
    border-bottom: 1px solid #E2E2E2; 
}

.cell .line p {
    line-height: 24px;
}

.cell .line .meta {
    float: right; 
    display: inline; 
    padding-right: 20px; 
}

.line .num {
    font-weight: bolder; 
}

.problem .table td {
    border-top: none; 
    border-bottom: 1px solid #E2E2E2; 
}

.problem .table tr td:first-child {
    width: 100px; 
    border-right: 1px solid #E2E2E2; 
    text-align: right; 
}

.problem .table td pre {
    margin-right: 12px; 
}

.problem .last {
    border-bottom: none; 
}

.problem_sidebar .problemmeta{
    width: 100%;
}

.problemmeta tr td{
    padding-top: 8px;
    padding-bottom: 6px;
}

.problemmeta td:first-child {
    text-align: right;
    padding-right: 5px;
    color: #CCC; 
}

.problemmeta td:last-child {
    padding-left: 5px;
}

.problemmeta tr:last-child td {
    border-bottom: 1px solid #DDD; 
}

.codehilitetable tr td {
    margin: 0; 
    padding: 0; 
}

.codehilitetable .linenodiv pre{
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -ms-border-top-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: none; 
}

.codehilitetable .codehilite pre{
    width: 540px; 
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    -ms-border-top-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Style for Pygments */
/* Theme: Default */

.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #808080 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */

.problem_star {
    background: url(http://img3.douban.com/pics/all_bigstars.gif) no-repeat; 
    height: 14px; 
    overflow: hidden; 
    width: 75px; 
    display: block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.member_top {
    padding: 10px 15px; 
}

.member_top .avatar {
    float: left; 
}

.member_top .avatar img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.member_top .profile {
    float: left; 
    margin-left: 10px; 
    margin-top: 5px; 
    width: 50%; 
}

.member_top .username {
    font-size: 30px; 
    line-height:1; 
    font-family: Georgia,Times New Roman,serif; 
}

.member_top .username h1:first-letter {
    text-transform:uppercase; 
}

.member_top .tagline {
    font-size: 16px; 
    color: #999; 
}

.member_top .meta {
    font-size: 12px; 
    color: #CCC; 
}

.member_notes {
    width: 30%; 
}

.member_notes_list {
    list-style: none; 
    margin-left: 0; 
    margin-bottom: 0;
}

.member_notes_list li {
    padding-left: 22px; 
    margin-top: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
}

li.last {
    border-bottom: none;
}

.member_bio {
    width: 65%;
}

.member_bio .line {
    margin-top: 10px;
    padding-left: 20px;
    border-bottom: none;
    margin-bottom: 10px;
    font-size: 12px;
}

.node .new_topic {
    margin-top: 5px; 
    text-align: right; 
    padding-bottom: 10px; 
}

.node .nomoretopic {
    text-align: center; 
    padding-top: 17px; 
}

.topic_list {
    list-style: none; 
    margin-left: 0; 
    margin-bottom: 0;
}

.topic_list > li.line {
    padding: 10px !important; 
}

.topic_list li.line table {
    height: 48px;
    line-height: 16px; 
}

.topic_list li.line .avatar {
    width: 48px; 
    padding: 1px; 
}

.topic_list li.line .topic_main {
    padding-left: 10px; 
}

.topic_list li.line .topic_title {
    padding-top: 3px; 
    font-size: 16px; 
    line-height: 130%; 
}

.topic_list li.line .topic_meta {
    padding-top: 10px; 
    color: #CCC; 
    display: block; 
    font-size: 10px; 
    font-weight: bold; 
}

.topic {
    min-height: 0; 
}

.topic .module_title {
    font-size: 20px; 
    font-weight: 500; 
    line-height: 150%; 
    min-height: 80px; 
}

.topic .content {
    padding: 10px 20px; 
    line-height: 180%; 
    overflow: hidden; 
}

.topic .module_title .avatar {
    float: right; 
    padding-right: 10px; 
    height: 90px; 
    width: 90px; 
}

.topic .module_title .topic_meta {
    color: #CCC; 
    font-size: 12px; 
}

.topic_sidebar .line {
    border-bottom: none; 
    padding: 10px !important; 
}

.topic_sidebar .line .avatar {
    float: left;
}

.topic_sidebar .line .author {
    padding-left: 10px; 
    float: left; 
    width: 50%; 
}

.topic_sidebar .line .tagline {
    color: #ccc; 
    height: 50px; 
    overflow: hidden; 
    word-wrap: breakword; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reply.form-horizontal .controls {
    margin-left: 20px;
    margin-right: 30px; 
}

.reply.form-horizontal .form-actions {
    padding-left: 20px; 
}

.reply.form-horizontal .controls textarea {
    width: 100%;
    height: 100px; 
}

.reply_list {
    list-style: none; 
    margin-left: 0; 
    margin-bottom: 0; 
}

.reply_list li .avatar {
    width: 48px; 
    line-height: 10px; 
}

.reply_list li .create {
    float: right; 
    font-size: 12px; 
    color: #CCC; 
}

.reply_list li .reply_main {
    padding-left: 10px; 
}

.reply_list li .reply_content {
    padding-bottom: 10px; 
}

.reply_list li:last-child {
    border-bottom: none; 
}

.node_list {
    min-height: 0; 
    padding-bottom: 20px; 
}

.node_list .line {
    padding-left: 20px; 
}

.form_index {
    min-height: 0; 
}

.home {
    width: 65%; 
    min-height: 0; 
}

.home .table {
    border: none; 
    margin-bottom: 0; 
}

.home.newest_topic li:last-child {
    border-bottom: none; 
}

.inner_box {
    padding: 20px; 
}

.inner_box p {
    line-height: 30px; 
}

.home_sidebar .count table {
    margin-top: 10px; 
    margin-bottom: 10px; 
    width: 100%; 
}

.home_sidebar .count th {
    text-align: right; 
    font-weight: normal; 
    color: #CCC; 
}

.home_sidebar .count table th {
    width: 50%; 
}

.home_sidebar .count table td {
    padding-left: 10px; 
}

.new_note #related_problem_list {
    list-style: none; 
    margin-left: 0; 
    margin-top: 10px; 
}

.new_note #related_problem_list .related {
    background-color: #EEE; 
    border-radius: 4px; 
    padding: 4px 4px 2px 10px; 
    float: left; 
    margin-right: 4px; 
}

.new_note #related_problem_list .related:hover {
    background: #DDD; 
}

.new_note #related_problem_list .related a {
    color: black; 
}

.new_note #related_problem_list .related a.close {
    color: black; 
    line-height: 14px; 
    height: 14px; 
    padding-left: 4px; 
}
