{% include 'header.html' %}
{% if now < contest.start_time %}
<div class="alert alert-info">
    {{ _('This contest have not started.') }}
</div>
{% elif contest.start_time <= now <= contest.end_time %}
<div class="alert alert-success">
    {{ _('This contest is running.') }}
</div>
{% else %}
<div class="alert">
    {{ _('This contest have finished.') }}
</div>
{% endif %}
<div class="cell nopadding contest" id="contest_{{ contest.id }}">
    <table class="table">
        <tr>
            <th style="width:100px">{{ _('Title') }}</th>
            <td>{{ contest.title }}</td>
        </tr>
        <tr>
            <th>{{ _('Start Time') }}</th>
            <td>{{ contest.start_time }}</td>
        </tr>
        <tr>
            <th>{{ _('End Time') }}</th>
            <td>{{ contest.end_time }}</td>
        </tr>
        <tr>
            <th>{{ _('Status') }}</th>
            <td>{{ contest | get_contest_status }}</td>
        </tr>
        {% if user.admin %}
        <tr>
            <td colspan="2"><a href="/backstage/contest/create?cid={{ contest.id }}">{{ _('Edit Contest') }}</a></td>
        </tr>
        {% endif %}
    </table>
    {% if contest.description -%}
    <div class="line">{{ contest.description }}</div>
    <div class="sep30"></div>
    {%- endif %}
</div>
{% if not now < contest.start_time %}
<div class="sep30"></div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:20px; text-align:center; ">#</th>
            <th>{{ _('Title') }}</th>
            <th>{{ _('Submit Time') }}</th>
            <th style="width:100px">{{ _('Short Name') }}</th>
            <th>{{ _('Score') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in related_problem %}
        <tr>
            <td style="text-align:center">{{ problem.pid }}</td>
            <td><a href="/problem/{{ problem.id }}">{{ problem.title }}</a></td>
            <td>{{ problem.submit.create }}</td>
            <td>{{ problem.shortname }}</td>
            <td>{{ problem.submit.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if contest.start_time <= now <= contest.end_time %}
<form class="form-horizontal">
    <fieldset>
        <legend>{{ _('Submit Problem') }}</legend>
        <div class="sep30"></div>
        <div class="control-group">
            <label class="control-label" for="codefile">{{ _('Code File') }}</label>
            <div class="controls">
                <input name="codefile" type="file" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lang">{{ _('Language') }}</label>
            <input type="hidden" name="lang" value="{{ user.lang }}"/>
            <div class="controls btn-group" id="lang_select">
                <a href="#" id="pascal" class="btn{% if user.lang == 1 %} btn-success{% endif %}">Pascal</a>
                <a href="#" id="c" class="btn{% if user.lang == 2 %} btn-success{% endif %}">C</a>
                <a href="#" id="cpp" class="btn{% if user.lang == 3 %} btn-success{% endif %}">C++</a>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit"  class="btn btn-primary">{{ _('Submit') }}</button>
        </div>
    </fieldset>
</form>
{% endif %}
{% include 'footer.html' %}
