{% include 'header.html' %}
<div class="contest_list">
    {% if contests %}
    {% for contest in contests %} 
    <div class="cell nopadding">
        <table class="table">
            <tr>
                <th style="width:100px">{{ _('Title') }}</th>
                <td>{{ contest.title }}</td>
            </tr>
            <tr>
                <th>{{ _('Start Time') }}</th>
                <td>{{ contest.start_time }}</td>
            </tr>
            <tr>
                <th>{{ _('End Time') }}</th>
                <td>{{ contest.end_time }}</td>
            </tr>
            <tr>
                <th>{{ _('Status') }}</th>
                <td></td>
            </tr>
            <tr>
                <td colspan="2"><a href="/contest/{{ contest.id }}">{{ _('Enter Contest') }}</a></td>
            </tr>
        </table>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% include 'footer.html' %}
