<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>{{ page.settings['site_title'] }}{% if title %} › {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% if problem %}<script src="/static/js/problem.js"></script>{% endif %}
    {% if note_page %}<script src="/static/js/note.js"></script>{% endif %}
    <!--[if IE]><link rel="stylesheet" href="/static/css/ie.css" /><![endif]-->
</head>
<body class="logined">
<nav>
<div class="profile">
    <div class="profile_wrap">
        {% if user %}
        <span class="username"><a href="/member/{{ user['username'] }}">{{ user['username'] }}</a></span>
        <span class="tagline" title="{{ user['tagline'] }}">{{ user['tagline'] }}</span>
        {% else %}
        <span class="username">Guest</span>
        {% endif %}
        <div class="avatar">
            {% if user %}
            <a href="/member/{{ user['username'] }}">
            {% endif %}
            {% if user.email %}
            <img src="{{ user.gravatar_link }}&s=45" />
            {% else %}
            <img src="/static/img/avatar.png" />
            {% endif %}
            <span class="avatar_mask"></span>
            {% if user %}</a>{% endif %}
        </div>
    </div>
</div>
<ul class="nav nav-list">
    <li class="nav-header">
        {{ page.settings['site_title'] }}
    </li>
    <li>
        <a href="/">
            <i class="icon-home icon-white"></i>
            {{ _('Home') }}
        </a>
    </li>
    <li>
        <a href="/problem">
            <i class="icon-question-sign icon-white"></i>
            {{ _('Problem') }}
        </a>
    </li>
    <li>
        <a href="/contest">
            <i class="icon-fire icon-white"></i>
            {{ _('Contest') }}
        </a>
    </li>
    <li>
        <a href="/submit">
            <i class="icon-th-large icon-white"></i>
            {{ _('Submit') }}
        </a>
    </li>
    <li>
        <a href="/forum">
            <i class="icon-comment icon-white"></i>
            {{ _('Forum') }}
        </a>
    </li>
    <li>
        <a href="/list">
            <i class="icon-list icon-white"></i>
            {{ _('List') }}
        </a>
    </li>
{% if user %}
    <li>
        <a href="/member/{{ user['username'] }}/notes">
            <i class="icon-pencil icon-white"></i>
            {{ _('Notes') }}
        </a>
    </li>
    <li>
        <a href="/settings">
            <i class="icon-cog icon-white"></i>
            {{ _('Settings') }}
        </a>
    </li>
    <li>
        <a href="/signout">
            <i class="icon-off icon-white"></i>
            {{ _('Sign Out') }}
        </a>
    </li>
{% if user.admin %}
    <li class="nav-header">
        {{ _('Backstage') }}
    </li>
    <li>
        <a href="/backstage/problem/add">
            <i class="icon-plus icon-white"></i>
            {{ _('Add Problem') }}
        </a>
    </li>
    <li>
        <a href="/backstage/node/create">
            <i class="icon-plus icon-white"></i>
            {{ _('Add Node') }}
        </a>
    </li>
{% endif %}
{% else %}
    <li>
        <a href="/signin">
            <i class="icon-user icon-white"></i>
            {{ _('Sign In') }}
        </a>
    </li>
    <li>
        <a href="/signup">
            <i class="icon-flag icon-white"></i>
            {{ _('Sign Up') }}
        </a>
    </li>
{% endif %}
</ul>
<div class="sep"></div>
<div class="copyright">
    &copy; 2012 <a href="https://github.com/fanzeyi/Vulpix">Vulpix</a>
    | <a href="/lang/en">English</a>
    | <a href="/lang/zh_cn">简体中文</a>
    | <a href="/lang/zh_tw">正體中文</a>
    | <a href="/help">{{ _('Help') }}</a>
</div>
</nav>
<div class="main">
{% if breadcrumb %}
<ul class="breadcrumb">
    {% for crumb in breadcrumb %}
    {% if not loop.last %}
    <li>
        <a href="{{ crumb[1] }}">{{ crumb[0] }}</a>
        <span class="divider">/</span>
    </li>
    {% else %}
    <li class="active">
        {{ crumb[0] }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
