{% include 'header.html' %}
{% if member.id == user.id %}
<div class="note_action">
    <a class="btn" href="/note/create">{{ _('Write Note') }}</a>
</div>
{% endif %}
{% if not notes %}
<div class="well note_notice" style="text-align:center">
    {{ _('There are empty now. <a href="/note/create">Add</a> something here.') }}
</div>
{% endif %}
<ul class="notes unstyled">
    {% for note in notes %}
    <li class="cell">
        <h3><a href="/note/{{ note.id }}">{{ note.title }}</a></h3>
        <div class="datetime">{{ note.create }}</div>
        <div class="summary"> 
            {{ note.content.replace('\n', '  ').replace('&lt;pre&gt;', '').replace('&lt;/pre&gt;', '')[:200] }}
        </div>
        <div class="more"><a href="/note/{{ note.id }}">{{ _('More..') }}</a></div>
    </li>
    {% endfor %}
</ul>
{% include 'footer.html' %}
