{% include 'header.html' %}
{% if related_problem %}
<div class="sidebar cell nopadding">
    <div class="module_title">
        {{ _('Related Problem') }}
    </div>
    {% for problem in related_problem %}
    <div class="line"><a href="/problem/{{ problem.pid }}">{{ problem.title }}</a></div>
    {% endfor %}
</div>
{% endif %}
<div class="note cell">
    <h3 class="title">{{ note.title }}</h3>
    <div class="meta">{{ note.create }} {% if note.member_id == user.id %} | <a href="/note/create?nid={{ note.id }}">{{ _('Edit') }}</a> | <a href="/note/{{ note.id }}/remove">{{ _('Delete') }}</a>{% endif %}</div>
    <div class="content">
        {{ note.content | autolink | nl_to_br | pre_to_code }}
    </div>
</div>
{% include 'footer.html' %}
