{% include 'header.html' %}
{%- if error -%}
<div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <ul>
    {% for err in error %}
    <li>{{ err }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form method="POST" action="" class="form-horizontal">
<fieldset>
    <legend>{% if note.nid %}{{ _('Edit Note') }}{% else %}{{ _('Write Note') }}{% endif %}</legend>
    <div class="sep30"></div>
    {{ page.xsrf_form_html() }}
    <div class="control-group">
        <label class="control-label" for="notetitle">{{ _('Title') }}</label>
        <div class="controls">
            <input type="text" name="notetitle" class="input-xlarge" {% if note.title %}value="{{ note.title }}" {% endif %}/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="content">{{ _('Content') }}</label>
        <div class="controls">
            <textarea name="content" id="content" class="input-xlarge" rows="20" style="width:500px">{% if note.content %}{{ note.content }}{% endif %}</textarea>
        </div>
    </div>
    <input type="hidden" name="nid" value="{% if note.id %}{{ note.id }}{% endif %}" />
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
    </div>
{% if note.link_problem %}
{% for problem_id in note.link_problem %}
<input id="link_problem_{{ problem_id }}" type="hidden" name="link_problem[]" value="{{ problem_id }}" />
{% endfor %}
{% endif %}
</fieldset>
</form>
{% include 'footer.html' %}
