{% include 'header.html' %}
<h3>{{ _('Write Note') }}</h3>
{%- if error -%}
<ul class="errorlist">
{% for err in error %}
<li>{{ err }}</li>
{% endfor %}
</ul>
{% endif %}
<form method="POST" action="">
{{ page.xsrf_form_html() }}
{{ _('Title') }}: <input type="text" name="notetitle" {% if note.title %}value="{{ note.title }}" {% endif %}/><br />
{{ _('Content') }}: <textarea name="content">{% if note.content %}{{ note.content }}{% endif %}</textarea><br />
<input type="hidden" name="nid" value="{% if note.id %}{{ note.id }}{% endif %}" />
<input type="submit" value="{{ _('Submit') }}" />
</form>
{% include 'footer.html' %}
