{% include 'header.html' %}
<div class="cell sidebar nopadding problem_sidebar">
    <div class="line">
        <span class="problem_star"></span>
    </div>
    <div class="module_title">
        {{ _('Related Notes') }}
    </div>
</div>
<div class="cell problem nopadding">
    <div class="line">
        {% if user.admin %}
        <div class="meta"><a href="/backstage/problem/add?pid={{ problem.id }}">{{ _('Edit') }}</a></div>
        {% endif %}
        <span class="num">#{{ problem.id }}</span>
    </div>
    <table class="table">
        <tr>
            <td>{{ _('Title') }}</td>
            <td>{{ problem.title }}</td>
        </tr>
        <tr>
            <td>{{ _('Short Name') }}</td>
            <td>{{ problem.shortname }}</td>
        </tr>
        <tr>
            <td>{{ _('Time Limit') }}</td>
            <td>{{ problem.timelimit }} ms</td>
        </tr>
        <tr>
            <td>{{ _('Memory Limit') }}</td>
            <td>{{ problem.memlimit }} MB</td>
        </tr>
    </table>
    <div class="line">
        {{ problem.content_html }}
    </div>
    <table class="table">
        <tr>
            <td>{{ _('Input Format') }}</td>
            <td>{{ problem.inputfmt }}</td>
        </tr>
        <tr>
            <td>{{ _('Input Sample') }}</td>
            <td><pre>{{ problem.samplein }}</pre></td>
        </tr>
        <tr>
            <td>{{ _('Output Format') }}</td>
            <td>{{ problem.outputfmt }}</td>
        </tr>
        <tr>
            <td>{{ _('Output Sample') }}</td>
            <td><pre>{{ problem.sampleout }}</pre></td>
        </tr>
    </table>
    {% if user %}
    <div class="line last">
        <form method="POST" action="/compile" class="clean">
            <input type="file" name="file" id="file" />
        </form>
    </div>
    {% endif %}
</div>
{% include 'footer.html' %}
