{% include 'header.html' %}
<div class="sidebar">
<div class="cell nopadding problem_sidebar">
    <div class="module_title">
        {{ _('Meta') }}
    </div>
<table class="problemmeta">
<tr>
    <td style="width:40%">ID</td>
    <td>{{ problem.id }}</td>
</tr>
<tr>
    <td>Title</td>
    <td>{{ problem.title }}</td>
</tr>
<tr>
    <td>Short Name</td>
    <td>{{ problem.shortname }}</td>
</tr>
<tr>
    <td>Time</td>
    <td>{{ problem.timelimit }}ms</td>
</tr>
<tr>
    <td>Memory</td>
    <td>{{ problem.memlimit }}MB</td>
</tr>
</table>
{% if user.admin %}
<div class="line">
<a href="/backstage/problem/add?pid={{ problem.id }}">{{ _('Edit') }}</a>
</div>
{% endif %}
</div>
<div class="sep30"></div>
{% if related_note %}
<div class="cell nopadding">
    <div class="module_title">{{ _('Related Notes') }}</div>
    {% for note in related_note %}
    <div class="line"><a href="/note/{{ note.nid }}">{{ note.title }}</a></div>
    {% endfor %}
</div>
{% endif %}
</div>
<div class="cell problem nopadding">
    <div class="module_title">
        {{ _('Content') }}
    </div>
    <div class="line">
        {{ problem.content_html }}
    </div>
    <div class="module_title">
        {{ _('Input Format') }}
    </div>
    <div class="line">
        {{ problem.inputfmt }}
    </div>
    <div class="module_title">
        {{ _('Output Format') }}
    </div>
    <div class="line">
        {{ problem.outputfmt }}
    </div>
    <div class="module_title">
        {{ _('Sample Input') }}
    </div>
    <div class="line">
        <pre>{{ problem.samplein }}</pre>
    </div>
    <div class="module_title">
        {{ _('Sample Output') }}
    </div>
    <div class="line">
        <pre>{{ problem.sampleout }}</pre>
    </div>
</div>
{% if user %}
<form class="form-horizontal problem">
    <fieldset>
        <legend>{{ _('Submit Problem') }}</legend>
        <div class="sep30"></div>
        <div class="control-group">
            <label class="control-label" for="codefile">{{ _('Code File') }}</label>
            <div class="controls">
                <input name="codefile" type="file" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lang">{{ _('Language') }}</label>
            <input type="hidden" name="lang" value="{{ user.lang }}"/>
            <div class="controls btn-group" id="lang_select">
                <a href="#" id="pascal" class="btn{% if user.lang == 1 %} btn-success{% endif %}">Pascal</a>
                <a href="#" id="c" class="btn{% if user.lang == 2 %} btn-success{% endif %}">C</a>
                <a href="#" id="cpp" class="btn{% if user.lang == 3 %} btn-success{% endif %}">C++</a>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit"  class="btn btn-primary">{{ _('Submit') }}</button>
        </div>
    </fieldset>
</form>
{% endif %}
{% include 'footer.html' %}
