{% include 'header.html' %}
{% if success %}
{{ _('You have reseted your password successfully.')}}
<a href="/signin">{{ _('Sign in Now') }}</a>
{% else %}
{%- if error -%}
<ul class="errorlist">
{% for err in error %}
<li>{{ err }}</li>
{% endfor %}
</ul>
{% endif %}
<form action="" method="POST">
<h3>{{ _('Reset Password') }} - {{ reset_user['username'] }}</h3>
{{ page.xsrf_form_html() }}
{{ _('New Password') }}: <input type="password" name="newpwd" /> <br />
{{ _('Repeat Password') }}: <input type="password" name="repeatpwd" /><br />
<input type="submit" value="{{ _('Submit') }}" />
</form>
{% endif %}
{% include 'footer.html' %}
