{% include 'header.html' %}
{%- if error -%}
<div class="alert alert-error">
    <ul class="errorlist">
    {% for err in error %}
    <li>{{ err }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form method="POST" action="/settings/changepass" class="form-horizontal">
<fieldset>
    <legend>{{ _('Change Password') }}</legend>
    {{ page.xsrf_form_html() }}
    <div class="sep30"></div>
    <div class="control-group">
        <label class="control-label" for="oldpwd">{{ _('Current Password') }}</label>
        <div class="controls">
            <input type="password" name="oldpwd" /> 
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="newpwd">{{ _('New Password') }}</label>
        <div class="controls">
            <input type="password" name="newpwd" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ _('Change Password') }}</button>
    </div>
</form>
{% include 'footer.html' %}
