{% include 'header.html' %}
<!-- <div class="cell sidebar nopadding topic_sidebar">
    <div class="line">
        <div class="avatar">
            <img src="{{ topic.gravatar_link }}&s=80" />
        </div>
        <div class="author">
            <div class="username"><h3>{{ topic.username | capitalize }}</h3></div>
            <div class="tagline" title="{{ topic.tagline }}">{{ topic.tagline }}</div>
        </div>
    </div>
</div>-->
<div class="cell nopadding topic">
    <div class="module_title">
        <div class="avatar"><img src="{{ topic.gravatar_link }}&s=80" /></div>
        <div class="topic_title">{{ topic.title }}</div>
        <div class="topic_meta">By <a href="/member/{{ topic.username }}">{{ topic.username }}</a> at {{ topic.create }}</div>
    </div>
    <div class="content">
        {{ topic.content | autolink | replace('\n', '<br />') }}
    </div>
</div>

<div class="sep30"></div>
{% if replies %}
<div class="cell nopadding topic">
    <div class="line reply_meta">
        {{ reply_count }} Replies
    </div>
    <ul class="reply_list">
        {% for reply in replies %}
        <li class="line from_{{ topic.member_id }}">
            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tbody>
                    <tr>
                        <td class="avatar" valign="top">
                            <img src="{{ reply.gravatar_link }}&s=48" />
                        </td>
                        <td class="reply_main" valign="top">
                            <div class="reply_user">
                                <a href="/member/{{ reply.username }}">{{ reply.username }}</a>
                                <div class="create">{{ reply.create }}</div>
                            </div>
                            <div class="reply_content">
                                {{ reply.content | autolink | replace('\n', '<br />') }}
                            </div>
                        </td>
                </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="topic" style="text-align:center; color:#AAA">
    {{ _('No Reply Yet') }}
</div>
{% endif %}

<div class="sep30"></div>

{% if error %}
<div class="alert alert-error topic">
<ul>
    {% for err in error %}
    <li>{{ err }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

<form method="POST" action="" class="form-horizontal topic reply">
    <fieldset>
        <legend>{{ _('Add Reply') }}</legend>
        {{ page.xsrf_form_html() }}
        <div class="sep30"></div>
        <div class="control-group">
            <div class="controls">
                <textarea name="content" id="content" class="input-xlarge"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ _('Submit') }}</button>
        </div>
    </fieldset>
</form>
{% include 'footer.html' %}
